/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03Operators/CALCULO aREAS/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(int)/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(int)/build/
/Assignments/unit1/HW02/AreaVolumeCube(float)/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(float)/build/
/Assignments/unit1/HW02/AreaVolumeCube(short)/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(short)/build/
/workshops/unit1/WS04/TruthTable/nbproject/private/
/workshops/unit1/WS04/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/HW03Iterations/nbproject/private/
/workshops/unit1/HW03Iterations/build/
/Assignments/unit1/HW03Iterations/nbproject/private/
/Assignments/unit1/HW03Iterations/build/