/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03Operators/CALCULO aREAS/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(int)/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(int)/build/
/Assignments/unit1/HW02/AreaVolumeCube(float)/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(float)/build/
/Assignments/unit1/HW02/AreaVolumeCube(short)/nbproject/private/
/Assignments/unit1/HW02/AreaVolumeCube(short)/build/
/workshops/unit1/WS04/TruthTable/nbproject/private/
/workshops/unit1/WS04/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04/WS04LogicalOperators/build/
/workshops/unit1/WS04LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/workshops/unit1/HW03Iterations/nbproject/private/
/workshops/unit1/HW03Iterations/build/
/Assignments/unit1/HW03Iterations/nbproject/private/
/Assignments/unit1/HW03Iterations/build/
/workshops/unit1/WS06EvaluateExpressions/nbproject/private/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/Assignments/unit1/HW04Menus/nbproject/private/
/Assignments/unit1/HW04Menus/build/
/Exams/Unit 1/LujeCatherineLizbethQ11/nbproject/private/
/Exams/Unit 1/LujeCatherineLizbethQ11/build/
/workshops/unit2/WS08ExamQ11Solution/nbproject/private/
/workshops/unit2/WS08ExamQ11Solution/build/
/Assignments/unit2/HW08FactorialNumber/nbproject/private/
/Assignments/unit2/HW08FactorialNumber/build/
/Assignments/unit2/HW09EmbeddedStructures/nbproject/private/
/Assignments/unit2/HW09EmbeddedStructures/build/
/workshops/unit2/WS10Funtions/nbproject/private/
/workshops/unit2/WS10Functions/nbproject/private/
/workshops/unit2/WS10Functions/build/
/Assignments/unit2/HW10Funtions/nbproject/private/
/Assignments/unit2/HW10Funtions/build/
/Assignments/unit2/JavaApplication40/nbproject/private/
/Assignments/unit2/JavaApplication40/build/
/Assignments/unit2/HW10Functions/nbproject/private/
/Assignments/unit2/HW10Functions/build/
/workshops/unit2/WS11Recursivity/nbproject/private/
/workshops/unit2/WS11Recursivity/build/
/workshops/unit2/WS11FunctionsAndRecursivity/HW10Functions/build/
/workshops/unit2/WS11FunctionsAndRecursivity/WS11Recursivity/build/
/workshops/unit2/WS11FunctionsAndRecursion/HW10Functions/build/
/workshops/unit2/WS11FunctionsAndRecursion/HW10Functions/nbproject/private/
/workshops/unit2/WS11FunctionsAndRecursion/WS11Recursion/build/
/workshops/unit2/WS11FunctionsAndRecursion/WS11Recursion/nbproject/private/
/Assignments/unit2/HW11Recursion/nbproject/private/
/Assignments/unit2/HW11Recursion/build/
/Assignments/unit2/JavaApplication45/nbproject/private/
/Assignments/unit2/HW11FuctionsProyect/nbproject/private/
/Assignments/unit2/HW11FuctionsProyect/build/
/Assignments/unit2/HW11FuctionsAndRecursion/HW11ProjectFunctions/nbproject/private/
/Assignments/unit2/HW11FuctionsAndRecursion/HW11ProjectFunctions/build/
/workshops/unit2/WS12Libraries/nbproject/private/
/workshops/unit2/WS12Libraries/build/
/workshops/unit2/HW12Taxes/nbproject/private/
/workshops/unit2/HW12Taxes/build/
/workshops/unit2/JavaApplication50/nbproject/private/
/workshops/unit2/JavaApplication50/build/
/Assignments/unit2/HW12Taxes/build/
/Assignments/unit2/HW12Taxes/nbproject/private/
/workshops/unit2/WS13Task/nbproject/private/
/workshops/unit2/WS13Task/build/
/workshops/unit2/WS14Arrays/NamesOfCountries/nbproject/private/
/workshops/unit2/WS14Arrays/NamesOfCountries/build/
/workshops/unit2/WS14Arrays/FarmSimulator/nbproject/private/
/workshops/unit2/WS14Arrays/WS14FarmSimulator/nbproject/private/
/workshops/unit2/WS14Arrays/WS14FarmSimulator/build/
/Assignments/unit2/HW14Arrays/HW13CountriesArrays/nbproject/private/
/Assignments/unit2/HW14Arrays/HW13CountriesArrays/build/
/Quiz/ArraysQuizFebruary22/nbproject/private/
/Quiz/ArraysQuizFebruary22/build/
/workshops/unit2/WS15_Q01_02222021Arrays/nbproject/private/
/workshops/unit2/WS16BidimensionalArrays/MatrixAddition/nbproject/private/
/workshops/unit2/WS16BidimensionalArrays/MatrixAddition/build/
/workshops/unit2/WS15_Q01_02222021Arrays/build/
/Assignments/unit2/HW16BidimensionalArrays/HW16MatrixSubtraction/nbproject/private/
/Assignments/unit2/HW16BidimensionalArrays/HW16MatrixSubtraction/build/
/Assignments/unit2/HW16BidimensionalArrays/HW15MatrixOperation/nbproject/private/
/Assignments/unit2/HW16BidimensionalArrays/HW15MatrixOperation/build/
/Assignments/unit2/HW15Matrix/nbproject/private/
/Assignments/unit2/HW15Matrix/build/
/Assignments/unit2/HW15MatrixOperation/build/
/Assignments/unit2/HW15MatrixOperation/nbproject/private/
/workshops/unit2/WS17Matrix/nbproject/private/
/workshops/unit2/WS17Matrix/build/
/workshops/unit2/WS17MatrixTransposition/nbproject/private/
/workshops/unit2/WS17MatrixTransposition/build/
/Assignments/unit2/HW16MatrixFuction/nbproject/private/
/Assignments/unit2/HW16MatrixFuction/build/
/Exams/Nueva Carpeta/LujeCQ11/nbproject/private/
/Exams/Nueva Carpeta/LujeCQ11/build/
/workshops/unit3/WS19/MariñoKQ11/nbproject/private/
/workshops/unit3/WS19/MariñoKQ11/build/
/workshops/unit3/WS19/GeoSpaceArrays/nbproject/private/
/workshops/unit3/WS19/GeoSpace2/nbproject/private/
/workshops/unit3/WS19/GeoSpace2/build/
/workshops/unit2/WS10Functions/dist/
/workshops/unit3/WS21Functions/nbproject/private/
/workshops/unit3/WS21Functions/build/
/workshops/unit3/WS21Functions/dist/
/workshops/unit3/WS22Modularity/ModularCalculator/nbproject/private/
/workshops/unit3/WS22Modularity/ModularCalculator/build/
/workshops/unit3/WS23Libraries/TaxDeclaration/nbproject/private/
/workshops/unit3/WS23Libraries/TaxLibrary/nbproject/private/
/workshops/unit3/WS23Libraries/TaxDeclaration/build/
/workshops/unit3/WS23Libraries/TaxLibrary/build/
/workshops/unit3/WS23Libraries/TaxLibrary/dist/
/Assignments/unit3/HW17MatrixLibraries/HW17MatrixOperation/nbproject/private/
/Assignments/unit3/HW17MatrixLibraries/HW17MatrixOperation/build/
/Assignments/unit3/HW17MatrixLibraries/MatrixOperation/nbproject/private/
/Assignments/unit3/HW17MatrixLibraries/MatrixOperation/dist/
/Assignments/unit3/HW17MatrixLibraries/MatrixOperation/build/
/workshops/unit3/WS24SortingAlgorims/Sorting/nbproject/private/
/workshops/unit3/WS24SortingAlgorims/Sorting/build/
/Assignments/unit3/HW18SortingAlgorithms/nbproject/private/
/Assignments/unit3/HW18SortingAlgorithms/build/
/workshops/unit3/WS25OperationsWithStrings/BreedOfDogs/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/BreedOfDogs/build/
/workshops/unit3/WS25OperationsWithStrings/HW19SearchingForm/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/HW19SearchingForm/build/
/Assignments/unit3/HW19SearchingForm/nbproject/private/
/Assignments/unit3/HW19SearchingForm/build/
/workshops/unit3/WS25OperationsWithStrings/SortingIntegers/nbproject/private/
/workshops/unit3/WS25OperationsWithStrings/SortingIntegers/build/
/workshops/unit3/WS25OperationsWithStrings/SortingIntegers/dist/
/Assignments/unit3/HW20SortingEcuadorVolcanoes/nbproject/private/
/Assignments/unit3/HW20SortingEcuadorVolcanoes/build/